.shop {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.shop__filter {
  flex: 3;
}
.shop__item {
  flex: 7;
}
.shop__filter__check {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}
.shop__filter__check__item {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 22px;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}

/* Custom style for checked checkbox */
input[type="checkbox"]:checked {
  background-color: #007bff;
  border-color: #007bff;
}

/* Custom style for checkmark */
input[type="checkbox"]:checked::after {
  content: "\2713"; /* Checkmark symbol */
  font-size: 14px;
  color: #fff;
  display: block;
  text-align: center;
  line-height: 20px;
}

.shop__filter__sort {
  margin-top: 3rem;
}

.shop__filter__sort__item_radio {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 22px;
}
.shop__item__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3rem;
}
.shop__item__card{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;

}
.shop__item__card__imgConatiner{
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
    border-radius: 10px;
}
.shop__item__card__imgConatiner img{
    width: 60%;
    height: 60%;
}
.shop__item__card__textConatiner h4{
    font-size: 25px;
    font-weight: bold;
}
.shop__item__card__textConatiner{
    margin-top: 10px;
}
.shop__item__card__textConatiner p{
    margin: 5px 0;
    opacity: 0.7;
}