.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  max-width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.header__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  font-size: 20px;
}
.hamburger__icon {
  font-size: 25px;
  cursor: pointer;
  opacity: 0.5;
  display: none;
  z-index: 999;
}
.hamburger {
  position: fixed;
  top: 0;
  background-color: rgba(177, 177, 177);
  height: 100vh;
  right: -60%;
  width: 60%;
  z-index: 3;
  transition: all 1s ease;
}
.hamburger__active {
  right: 0;
}
.hamburger__item {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}
.button {
  background-color: black;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 14px;
  cursor: pointer;
  transition: all 1s ease;
  border-radius: 5px;
  border: 2px solid #000;
  outline: none;
  width: fit-content;
}
.button:hover {
  background-color: #fff;
  color: black;
}

@media (max-width: 600px) {
  .header__item {
    gap: 20px;
  }
}

@media (max-width: 500px) {
  .header__item {
    display: none;
  }
  .header__item a {
    font-size: 40px !important;
  }
  .hamburger__icon {
    display: initial;
  }
  .button {
    padding: 1px 5px;
    font-size: 8px;
  }
}
